.bodyContainer {
    display: grid;
    place-items: center;
    margin-top: 5px;
}

.header {
    font-size: 2em;
    color: black;
}

p {
    font-family: 'Baloo Tamma 2', cursive;
    margin: 0;
    padding: 0;
    color: #424242;
}

.links {
    list-style-type: none;
    margin: 0;
}

.links > li {
    float: left;
    margin: 0 10px 0 10px;
}

.links > li > a {
    margin: 0;
    display: block;
    text-align: center;
    padding: 1 10 1 10;
    text-decoration: none;
    color: #424242;
}

.links > li > a:hover {
    color: #03A9F4;
    transition: .2s ease-in-out
}
