.bodyContainer {
    display: grid;
    place-items: center;
    margin-top: 5px;
    background-color: whitesmoke;
    width: 70%;
    margin: 0 auto;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    margin-top: 2em;
    margin-bottom: 2em;
    padding: 2em 0 1em 0;
}

.content {
    width: 100%;
}

.header {
    font-size: 2em;
    color: black;
}

p {
    font-family: 'Baloo Tamma 2', cursive;
    margin: 0;
    padding: 0;
    color: #424242;
}

.links {
    list-style-type: none;
    margin: 0;
}

.links > li {
    float: left;
    margin: 0 10px 0 10px;
}

.links > li > a {
    margin: 0;
    display: block;
    text-align: center;
    padding: 1 10 1 10;
    text-decoration: none;
    color: #424242;
}

.links > li > a > img {
    vertical-align: middle;
    margin-right: 1px;
}

.links > li > a:hover {
    color: #03A9F4;
    transition: .2s ease-in-out
}
