#Markdown will now show up in the GitHub language slider
*.md linguist-detectabnle=true
*.md linguist-documentation=false
*.md linguist-language=Markdown

wiki/markdown-converter/js/highlight-7.3-pack-min.js linguist-vendored