@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$roboto: 'Roboto', sans-serif;

@mixin set-font($font, $weight: 400) {
    font-family: $font;
    font-weight: $weight;
}