@use "./fonts";

main {
    background-color: #32404E;
    margin: 0;
    //height: calc(100vh - 3.5rem - 3.5rem);
    padding: 5px;

    display: flex;
    flex-direction: column;
    align-items: center;

    .content-holder {
        margin-top: 5rem;
        padding: 8px;
        background-color: #3E4D5B;
        border: 1px solid #3E4D5B;
        border-radius: 5px;
        height: 30rem;
        width: 50%;

        p {
            @include fonts.set-font(fonts.$roboto);
            color: darken(#CAD1D9, 9%);
            font-size: 1em;
        }

        h3 {
            @include fonts.set-font(fonts.$roboto);
            color: #CAD1D9;
            font-size: 1.2em;
        }

    }
}