name: GitHub Pages Workflow

on:
  push:
    tags:
      - '**'

jobs:
  build-website:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    
    - name: Install NPM dependencies
      run: npm i
    
    - name: Build with Webpack
      run: npx webpack

    - name: Remove githignore file
      run: rm -f .gitignore

    - name: Git Checkout
      run: git checkout -b gh-pages
    - name: Git Fetch
      run: git fetch origin v2
    - name: Set Upstream
      run: git branch --set-upstream-to=origin/v2 gh-pages

    - uses: EndBug/add-and-commit@v7
      with:
        add: '["dist/dist.js", "index.html", "img/*", "wiki/*"]'
        author_name: TheDutchMC
        author_email: github@thedutchmc.nl
        branch: gh-pages
        message: 'Automatic build for GitHub-Pages'
        push: origin gh-pages -f
        signoff: true